{% if site.social.sharing.twitter or site.social.sharing.facebook or site.social.sharing.gplus or site.social.sharing.hn %}
<div class="social">
    {% if site.social.sharing.twitter %}<div>
        <a href="https://twitter.com/share" class="twitter-share-button" {% if site.social.sharing.twitter.via %}data-via="{{ site.social.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.social.twitter }}">Tweet</a>
    </div>
    {% endif %}
    {% if site.social.sharing.facebook %}
    <div>
        <div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    </div>
    {% endif %}
    {% if site.social.sharing.gplus %}
    <div>
        <div class="g-plusone" data-size="medium"></div>
    </div>
    {% endif %}
    
    {% if site.social.sharing.hn %}
    <div>
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    </div>
    {% endif %}
</div>
{% endif %}