<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.logo }}" alt="Logo">
            </a>
            <a href="/articles/index.html" class="home">Articles</a>
            <a href="/services.html">Services</a>
            <a href="/about.html">About</a>
        </nav>
        <nav class="tagline">
            <span>Want to learn how to ship features to your software faster?</span>
            <a href="/roadmap.html" class="btn btn-outline">Learn More</a>
        </nav>
    </header>
</section>
