/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
//$accent: #2077b2;
$accent: #ef663e;


/* IMPORT CSS FILES */
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";

section#contact {
    .text-danger {
        color: #e74c3c;
    }
    
    .form-group {
        margin-bottom: 25px;
        
        input, textarea {
            padding: 20px;
        }
        
        textarea.form-control {
            height: 177px;        
        }
    }
}

section#about {
    article {
        padding: 20px 0;
    }
}

// section#contact .form-group textarea.form-control {
//     height: 236px;
// }