---
layout: base
---
<section id="articles" class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <article class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            {% if post.excerpt %}
            <p>{{ post.excerpt }}
            {% else %}
            <p>{{ post.content | truncatewords:50 | strip_html }}            
            {% endif %}
             <a href="{{ post.url }}">Read More</a></p>

            <div class="meta">
                Written By <address>{{ post.author.name }}</address> 
                <!--&mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>-->
            </div>
        </div>
        <hr>
    </article>
    {% endunless %}
{% endfor %}
    <artcile class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/articles/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="{{ paginator.previous_page_path }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </article>
</section>
